html,
body {
    height: 100%;
}

p {
    font-size: 2em;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    padding: 0 3rem;
    outline: 1px solid black;
    background-color: red;
    flex: 1 0 auto;
    padding-top: 2em !important;
    padding: 5em;
}

footer {
    outline: 1px solid black;
    flex-shrink: 0;
    background-color: yellow;
}

footer * {
    text-align: center;
    color: rgb(16, 16, 16);
    background-color: yellow;
}

.top {
    position: fixed;
    bottom: 0.7em;
    right: 0.7em;
    background: green;
    padding: 0.5em;
    border-radius: 50%;
}


/* Smooth scrolling IF user doesn't have a preference due to motion sensitivities */

@media screen and (prefers-reduced-motion: no-preference) {
    html,
    body {
        scroll-behavior: smooth;
    }
}