* {
  background-color: #101010;
  color: white;
  font-size: 1.1rem;
  text-align: justify;
}

html,
body {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding-top: 2em !important;
  padding: 5em;
}

footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #92ce92;
}

footer * {
  text-align: center;
  font-weight: 400;
  font-family: monospace, monospace;
  color: #101010;
  background-color: #92ce92;
}

footer a {
  color: #f86922 !important;
  font-weight: 900;
}

footer a:hover {
  background-color: #101010;
  color: white !important;
}

a {
  color: #92ce92;
  text-decoration: none;
}

a:hover {
  background-color: #f86922;
  color: white;
}

.js_disclaimer {
  padding: 0.5em 2em 0 2em;
}

.js_disclaimer > p,
.js_disclaimer > b {
  font-family: monospace, monospace;
  color: #92ce92;
}

.gohome {
  position: fixed;
  bottom: 0.5em;
  right: 0.5em;
}

.gitlab {
  position: fixed;
  bottom: 6em;
  right: 0.5em;
}

.highlighter-rouge {
  width: 100%;
}

.line_content,
.line_code_content {
  word-break: break-all;
  width: 100%;
}

.code_content {
  font-size: 0.8em;
}

.line_code_content {
  background-color: #343A40;
}

.matrix > .line_code_content {
  display: inline-block;
}

.code_box * {
  background-color: #343A40;
}

.code_box {
  line-height: 1.5;
  border-radius: 5px;
  padding: 1.5em;
  background-color: #343A40;
  margin-top: 1.5em;
  color: white;
  font-size: medium;
  font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.matrix > .code_content_item:last-child {
  margin-top: 1em;
}

.bash {
  word-break: break-all;
}

.circle-icon {
  background: #92ce92;
  padding: 0.2em;
  border-radius: 50%;
}

.circle-icon:hover {
  background: #f86922;
}

.text_container {
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.pre-scrollable {
  height: auto;
  max-height: 400px;
  overflow: auto;
  word-break: normal !important;
  word-wrap: normal !important;
}

.multi_line {
  white-space: pre-wrap;
}

/*csslint outline-none:false*/
.pure-button {
  font-family: inherit;
  font-size: 100%;
  padding: 0.5em 1em;
  margin: 0.1em;
  color: rgba(0, 0, 0, 0.8);
  border: none rgba(0, 0, 0, 0);
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 2px;
}

.pure-button-hover,
.pure-button:hover,
.pure-button:focus {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(40%, rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0.1)));
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
}

.pure-button:focus {
  outline: 0;
}

.pure-button-active,
.pure-button:active {
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
          box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
  border-color: #000;
}

.pure-button[disabled],
.pure-button-disabled,
.pure-button-disabled:hover,
.pure-button-disabled:focus,
.pure-button-disabled:active {
  border: none;
  background-image: none;
  opacity: 0.40;
  cursor: not-allowed;
  -webkit-box-shadow: none;
          box-shadow: none;
  pointer-events: none;
}

.pure-button-hidden {
  display: none;
}

.pure-button-primary,
.pure-button-selected,
a.pure-button-primary,
a.pure-button-selected {
  background-color: #0078e7;
  color: #fff;
}

/* Button Groups */
.pure-button-group .pure-button {
  margin: 0;
  border-radius: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.pure-button-group .pure-button:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.pure-button-group .pure-button:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-right: none;
}

.pure-button {
  /* Structure */
  display: inline-block;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Firefox: Get rid of the inner focus border */
.pure-button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* Inherit .pure-g styles */
.pure-button-group {
  letter-spacing: -0.31em;
  /* Webkit: collapse white-space between units */
  text-rendering: optimizespeed;
  /* Webkit: fixes text-rendering: optimizeLegibility */
}

.opera-only :-o-prefocus,
.pure-button-group {
  word-spacing: -0.43em;
}

.pure-button-group .pure-button {
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

.button-primary,
.button-secondary {
  color: black;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.2);
}

.button-primary {
  background: #92ce92;
  /* this is a light blue */
}

@media only screen and (max-width: 800px) {
  main {
    padding: 8vw;
  }
  .circle-icon {
    display: none;
  }
  .pure-button {
    width: 80vw !important;
    margin: 0.2em 2vw 0.2em 2vw !important;
  }
  pre.bash {
    word-wrap: break-word;
  }
  pre.bash code {
    padding: 5px;
    text-align: justify;
    color: #fff;
  }
  .code_title,
  .code_elmt {
    display: inline-block;
  }
  .code_title {
    margin-top: 0.5em;
  }
  .matrix > .code_content_item:last-child {
    margin-top: 2em;
  }
}

@media only screen and (max-width: 1104px) {
  .pure-button {
    width: calc(100% - 2em);
    margin: 0.2em 2vw 0.2em 2vw;
  }
}

/* Smooth scrolling IF user doesn't have a preference due to motion sensitivities */
@media screen and (prefers-reduced-motion: no-preference) {
  html,
  body {
    scroll-behavior: smooth;
  }
}
/*# sourceMappingURL=test.css.map */