body {
    background: #081421;
    color: #d3d7de;
    font-family: "Courier new";
    font-size: 18px;
    line-height: 1.5em;
    cursor: default;
}

a {
    color: #fff;
}

.large {
    width: 40% !important;
}

.code-area {
    position: absolute;
    width: 320px;
    min-width: 320px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.code-area>span {
    display: block;
}

@media screen and (max-width: 320px) {
    .code-area {
        font-size: 5vw;
        min-width: auto;
        width: 95%;
        margin: auto;
        padding: 5px;
        padding-left: 10px;
        line-height: 6.5vw;
    }
}

@media screen and (max-width: 768px) {
    .code-area {
        font-size: 3vw;
        min-width: auto;
        width: 95%;
        margin: auto;
        padding: 5px;
        padding-left: 10px;
        line-height: 6.5vw;
    }
}

@media screen and (max-width: 400px) {
    .code-area {
        font-size: 5em;
        min-width: auto;
        width: 95%;
        margin: auto;
        padding: 5px;
        padding-left: 10px;
        line-height: 6.5vw;
    }
}