* {
    background-color: rgb(16, 16, 16);
    color: white;
    font-size: 1.1rem;
}

a {
    color: rgb(146, 206, 146);
    text-decoration: none;
}

a:hover {
    background-color: rgb(248, 105, 34);
    color: white;
}

.line_content {
    word-break: break-all;
    width: 100%;
}

.js_disclaimer {
    padding: 0.5em 2em 0 2em;
}

.js_disclaimer>p,
.js_disclaimer>b {
    font-family: monospace, monospace;
    color: rgb(146, 206, 146);
}

.gohome {
    position: fixed;
    top: 0.5em;
    left: 0.5em;
}

.gitlab {
    position: fixed;
    top: 6em;
    left: 0.5em;
}

pre.bash {
    background-color: #343A40;
    border-radius: 5px;
    padding: 1em 1em 1em 1.5em;
    color: white;
    font-size: medium;
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

pre.bash code {
    background-color: #343A40;
}

.circle-icon {
    background: rgb(146, 206, 146);
    padding: 0.2em;
    border-radius: 50%;
}

.circle-icon:hover {
    background: rgb(248, 105, 34);
}

.text_container {
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

main {
    padding: 5em 5em 5em 5em;
}

.pre-scrollable {
    height: auto;
    max-height: 400px;
    overflow: auto;
    word-break: normal !important;
    word-wrap: normal !important;
    white-space: pre !important;
    margin-bottom: 2em;
}


/*csslint outline-none:false*/

.pure-button {
    font-family: inherit;
    font-size: 100%;
    padding: 0.5em 1em;
    color: rgba(0, 0, 0, 0.80);
    border: none rgba(0, 0, 0, 0);
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
}

.pure-button-hover,
.pure-button:hover,
.pure-button:focus {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.10));
}

.pure-button:focus {
    outline: 0;
}

.pure-button-active,
.pure-button:active {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.20) inset;
    border-color: #000;
}

.pure-button[disabled],
.pure-button-disabled,
.pure-button-disabled:hover,
.pure-button-disabled:focus,
.pure-button-disabled:active {
    border: none;
    background-image: none;
    opacity: 0.40;
    cursor: not-allowed;
    box-shadow: none;
    pointer-events: none;
}

.pure-button-hidden {
    display: none;
}

.pure-button-primary,
.pure-button-selected,
a.pure-button-primary,
a.pure-button-selected {
    background-color: rgb(0, 120, 231);
    color: #fff;
}


/* Button Groups */

.pure-button-group .pure-button {
    margin: 0;
    border-radius: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.pure-button-group .pure-button:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.pure-button-group .pure-button:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-right: none;
}

.pure-button {
    /* Structure */
    display: inline-block;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    user-select: none;
    box-sizing: border-box;
}


/* Firefox: Get rid of the inner focus border */

.pure-button::-moz-focus-inner {
    padding: 0;
    border: 0;
}


/* Inherit .pure-g styles */

.pure-button-group {
    letter-spacing: -0.31em;
    /* Webkit: collapse white-space between units */
    text-rendering: optimizespeed;
    /* Webkit: fixes text-rendering: optimizeLegibility */
}

.opera-only :-o-prefocus,
.pure-button-group {
    word-spacing: -0.43em;
}

.pure-button-group .pure-button {
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.button-primary,
.button-secondary {
    color: black;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.2);
}

.button-primary {
    background: rgb(146, 206, 146);
    /* this is a light blue */
}