* {
    background-color: rgb(16, 16, 16);
    color: white;
    font-size: 1.1rem;
    text-align: justify;
}

html,
body {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    padding-top: 2em !important;
    padding: 5em;
}

.code_highlight {
    background-color: #343A40;
    padding-left: 3px;
    padding-right: 3px;
    border: 2px solid #1D1E22;
    font-size: 1rem !important;
    line-height: 1.5rem;
}

table {
    width: 100%;
    overflow-wrap: break-word;
    border-collapse: collapse;
    text-align: left;
}

.td_title {
    padding-right: 1em;
}

h1 {
    margin-bottom: 0;
}

footer {
    position: relative;
    z-index: 5;
    flex-shrink: 0;
    background-color: rgb(146, 206, 146);
}

.footer_content {
    line-height: 0.5;
}

footer * {
    text-align: center;
    font-weight: 400;
    font-size: 1em;
    font-family: monospace, monospace;
    color: rgb(16, 16, 16);
    background-color: rgb(146, 206, 146);
}

footer a {
    color: rgb(248, 105, 34) !important;
    font-weight: 900;
}

footer a:hover {
    background-color: rgb(16, 16, 16);
    color: white !important;
}

h3 {
    font-size: 1.5em;
}

a {
    color: rgb(146, 206, 146);
    text-decoration: none;
}

a:hover {
    background-color: rgb(248, 105, 34);
    color: white;
}

.path {
    margin-top: 0;
    color: rgb(146, 206, 146) !important;
}

.js_disclaimer {
    padding: 0.5em 2em 0 2em;
}

.js_disclaimer>p,
.js_disclaimer>b {
    font-family: monospace, monospace;
    color: rgb(146, 206, 146);
}

.gohome {
    position: fixed;
    bottom: 11.5em;
    right: 0.5em;
}

.gitlab {
    position: fixed;
    bottom: 17em;
    right: 0.5em;
}

.top {
    position: fixed;
    bottom: 22.5em;
    right: 0.5em;
}

.highlighter-rouge {
    width: 100%;
}

.line_content,
.line_code_content {
    word-break: break-all;
    width: 100%;
}

.code_content {
    font-size: 0.8em;
}

.line_code_content {
    background-color: #343A40;
}

.matrix>.line_code_content {
    display: inline-block;
}

.code_box * {
    background-color: #343A40;
}

.code_box {
    line-height: 1.5;
    border-radius: 5px;
    padding: 1.5em;
    background-color: #343A40;
    margin-top: 1.5em;
    color: white;
    font-size: medium;
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.matrix>.code_content_item:last-child {
    margin-top: 1em;
}

.bash {
    word-break: break-all;
}

.circle-icon {
    background: rgb(146, 206, 146);
    padding: 0.2em;
    border-radius: 50%;
}

.circle-icon:hover {
    background: rgb(248, 105, 34);
}

.text_container {
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.pre-scrollable {
    height: auto;
    max-height: 400px;
    overflow: auto;
    word-break: normal !important;
    word-wrap: normal !important;
}

.multi_line {
    white-space: pre-wrap;
}

.caption {
    font-size: 0.7em;
}

#prez {
    padding: 0;
    padding-top: 1em;
}


/*csslint outline-none:false*/

.pure-button {
    font-family: inherit;
    font-size: 100%;
    padding: 0.5em 1em;
    margin: 0.1em;
    color: rgba(0, 0, 0, 0.80);
    border: none rgba(0, 0, 0, 0);
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
}

.pure-button-hover,
.pure-button:hover,
.pure-button:focus {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.10));
}

.pure-button:focus {
    outline: 0;
}

.pure-button-active,
.pure-button:active {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.20) inset;
    border-color: #000;
}

.pure-button[disabled],
.pure-button-disabled,
.pure-button-disabled:hover,
.pure-button-disabled:focus,
.pure-button-disabled:active {
    border: none;
    background-image: none;
    opacity: 0.40;
    cursor: not-allowed;
    box-shadow: none;
    pointer-events: none;
}

.pure-button-hidden {
    display: none;
}

.pure-button-primary,
.pure-button-selected,
a.pure-button-primary,
a.pure-button-selected {
    background-color: rgb(0, 120, 231);
    color: #fff;
}


/* Button Groups */

.pure-button-group .pure-button {
    margin: 0;
    border-radius: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.pure-button-group .pure-button:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.pure-button-group .pure-button:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-right: none;
}

.pure-button {
    /* Structure */
    display: inline-block;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    user-select: none;
    box-sizing: border-box;
}


/* Firefox: Get rid of the inner focus border */

.pure-button::-moz-focus-inner {
    padding: 0;
    border: 0;
}


/* Inherit .pure-g styles */

.pure-button-group {
    letter-spacing: -0.31em;
    /* Webkit: collapse white-space between units */
    text-rendering: optimizespeed;
    /* Webkit: fixes text-rendering: optimizeLegibility */
}

.opera-only :-o-prefocus,
.pure-button-group {
    word-spacing: -0.43em;
}

.pure-button-group .pure-button {
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.button-primary,
.button-secondary {
    color: black;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.2);
}

.button-primary {
    background: rgb(146, 206, 146);
    /* this is a light blue */
}

@media only screen and (max-width:800px) {
    main {
        padding: 8vw;
    }
    .circle-icon {
        display: none;
    }
    .pure-button {
        width: 80vw !important;
        margin: 0.2em 2vw 0.2em 2vw !important;
    }
    pre.bash {
        word-wrap: break-word;
    }
    pre.bash code {
        padding: 5px;
        text-align: justify;
        color: #fff;
    }
    .code_title,
    .code_elmt {
        display: inline-block;
    }
    .code_title {
        margin-top: 0.5em;
    }
    .matrix>.code_content_item:last-child {
        margin-top: 2em;
    }
}

@media only screen and (max-width:1104px) {
    .pure-button {
        width: calc(100% - 2em);
        margin: 0.2em 2vw 0.2em 2vw;
    }
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    /* Force table to not be like tables anymore */
    * {
        font-size: 1rem;
    }
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr {
        margin-bottom: 1em;
    }
    tr:last-child {
        margin-bottom: 0 !important;
    }
    td {
        text-align: left;
        border: none;
        word-break: break-all;
        position: relative;
    }
    .footer_content {
        line-height: 1.15;
        padding: 5px;
    }
}


/* Smooth scrolling IF user doesn't have a preference due to motion sensitivities */

@media screen and (prefers-reduced-motion: no-preference) {
    html,
    body {
        scroll-behavior: smooth;
    }
}